<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6-0--</key>
	<array>
		<string>囗</string>
		<string>口</string>
	</array>
	<key>6--2-</key>
	<array/>
	<key>-----</key>
	<array>
		<string>囧</string>
	</array>
</dict>
</plist>
